@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@200;400&display=swap');

* {
     margin: 0;
     padding: 0;

}
body {
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: white;
}

.titulo-destaque {
    color: pink
}

.titulo-principal {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;

}

.programacao__paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    width: 593px;
    font-weight: 200;
}

.apresentacao{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% 18%;
}

.botoes{
    display: flex;
    justify-content: space-between;
    width: 174px 0;
}

.apresentacao__links{
     background-color: pink;
     color: black;
     font-family: 'Montserrat', sans-serif;
     font-weight: 600;
     width: 280px ;
     text-align: center;
     text-decoration: none;
     border-radius: 16px;
     font-size: 24px;
     padding: 21.5px 0;
}

.apresentacao_conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}